.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: center;
}
div .container {
  width: 280px;
  padding: 1px;
  text-align: center;
  padding: 5px;
}